@import "../../responsive.scss";

nav {
  //   background-color: darkcyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  .left {
    // background-color: brown;
    flex: 3;
    display: flex;
    align-items: center;
    gap: 40px;

    @include md {
      gap: 15px;
    }

    .logo {
      transition: all 0.5s ease;
      &:hover {
        scale: 1.05;
      }

      img {
        width: 150px;
      }
    }

    .nav-link {
      padding: 0.5rem;
      position: relative;
      font-size: 16px;

      @include sm {
        display: none;
      }
    }

    .nav-link::after {
      content: "";
      position: absolute;
      width: calc(100% - 7px);
      height: 2px;
      background: #daa520;
      border-radius: 10px;
      transform: scale(0);
      transition: all 0.6s ease;
    }

    .nav-link::after {
      bottom: 0;
      left: 4.3px;
      transform-origin: center;
    }

    .nav-link:hover::before,
    .nav-link:hover::after {
      transform: scale(1);
    }
  }

  .right {
    background-color: darkorange;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 20px;
      margin: 20px;

      @include md {
        margin: 10px;
      }

      @include sm {
        display: none;
      }
    }

    .login {
      background-color: brown;
    }

    .register {
      background-color: goldenrod;
      border-radius: 5%;
    }

    .menuIcon {
      display: none;
      z-index: 10;

      @include sm {
        display: initial;
      }

      img {
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      height: 100vh;
      width: 50%;
      background-color: black;
      color: white;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 18px;

      &.active {
        right: 0;
      }

      @include sm {
        .nav-link {
          display: initial;
        }
      }
    }
  }
}
