.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-size: 24px;
    font-weight: 300;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 10px;
    }

    input,
    select {
      width: 100px;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  .top {
    input {
      width: 100%;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    button {
      background-color: goldenrod;
      width: 70px;
      padding: 10px;
      border: none;
      border-radius: 5px;

      .searchIcon {
        color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
