@import "../../responsive.scss";

.detailContainer {
  display: flex;

  @include md {
    flex-direction: column;
    gap: 20px;
  }

  .details {
    background-color: blueviolet;
    flex: 3;

    .wrapper {
      background-color: forestgreen;
      padding-right: 50px;
      height: 100%;

      @include xs {
        padding: 0;
      }

      .infoContainer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;

        .top {
          display: flex;
          justify-content: space-between;

          .post {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: aqua;

            h1 {
              font-weight: 400;

              @include xs {
                font-size: 27px;
              }
            }

            .address {
              display: flex;
              align-items: center;
              gap: 5px;
              color: #888;
              font-size: 14px;

              img {
                width: 16px;
                height: 16px;
              }
            }

            .price {
              font-size: 20px;
              font-weight: 300;
              padding: 5px;
              border-radius: 5px;
              background-color: rgba(254, 205, 81, 0.438);
              width: fit-content;
            }
          }

          .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 0 20px;
            border-radius: 10px;
            background-color: rgba(254, 205, 81, 0.209);
            font-weight: 600;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }

        .bottom {
          line-height: 20px;
          color: #555;
        }
      }
    }
  }

  .features {
    background-color: #fde29f;
    flex: 2;

    .wrapper {
      background-color: chocolate;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      img {
        width: 24px;
        height: 24px;

        @include lg {
          width: 20px;
          height: 20px;
        }

        @include sm {
          width: 24px;
          height: 24px;

          @include xs {
            width: 20px;
            height: 20px;
          }
        }
      }

      .title {
        font-size: 18px;
        font-weight: bold;
      }

      .feature {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          background-color: rgba(254, 205, 81, 0.209);
        }

        .featureText {
          span {
            font-weight: bold;
          }

          p {
            font-size: 14px;
          }

          @include lg {
            span {
              font-size: 12px;
            }

            p {
              font-size: 10px;
            }
          }

          @include sm {
            span {
              font-size: 16px;
            }

            p {
              font-size: 14px;
            }
          }

          @include xs {
            span {
              font-size: 12px;
            }

            p {
              font-size: 10px;
            }
          }
        }
      }

      .listGeneral {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px 20px;
        background-color: azure;
        border-radius: 10px;
      }

      .listSize {
        display: flex;
        justify-content: space-between;

        @include lg {
          font-size: 10px;
        }

        @include sm {
          font-size: 14px;
        }

        @include xs {
          font-size: 10px;
        }

        .size {
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: azure;
          padding: 10px 20px;
          border-radius: 10px;
        }
      }

      .listNearby {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: azure;
        border-radius: 10px;
      }

      .mapContainer {
        width: 100%;
        height: 200px;
      }

      .buttons {
        display: flex;
        justify-content: space-between;

        button {
          display: flex;
          align-items: center;
          padding: 15px 20px;
          gap: 5px;
          border-color: rgb(67, 237, 237);
          border: 1px solid #fece51;
          border-radius: 5px;

          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
