@import "../../responsive.scss";

.profile {
  background-color: brown;
  display: flex;
  height: 100%;

  @include sm {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    background-color: cadetblue;
    flex: 3.03;
    overflow-y: scroll;

    @include sm {
      flex: none;
      height: max-content;
    }

    .wrapper {
      background-color: chocolate;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        justify-content: space-between;
      }

      h1 {
        font-weight: 300;
      }

      button {
        padding: 12px 24px;
        background-color: goldenrod;
        border: none;
        border-radius: 5px;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }

  // scrollbar
  .details {
    --sb-track-color: #232e33;
    --sb-thumb-color: #6baf8d;
    --sb-size: 5px;
  }

  .details::-webkit-scrollbar {
    width: var(--sb-size);
  }

  .details::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

  .details::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  }

  @supports not selector(::-webkit-scrollbar) {
    .wrapper {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
  // scrollbar

  .chatContainer {
    background-color: #fde29f;
    flex: 2;
    height: 100vh;

    @include sm {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 0 20px;
    }
  }
}
