@import "../../responsive.scss";

.card {
  display: flex;
  gap: 20px;

  .imgContainer {
    background-color: deeppink;
    flex: 2;
    height: 200px;

    @include xs {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .textContainer {
    background-color: dodgerblue;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    img {
      width: 16px;
      height: 16px;
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #444;
      transition: all 0.5s ease;

      &:hover {
        color: #000;
        scale: 1.01;
      }
    }

    .address {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #888;
    }

    .price {
      font-size: 20px;
      font-weight: 300;
      padding: 5px;
      border-radius: 5px;
      background-color: rgba(254, 205, 81, 0.438);
      width: fit-content;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .features {
        display: flex;
        gap: 20px;
        font-size: 14px;

        .feature {
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: whitesmoke;
          padding: 5px;
          border-radius: 5px;
        }
      }

      .icons {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
          border: 1px solid #999;
          padding: 2px 5px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.5s ease;

          &:hover {
            background-color: lightgray;
            scale: 1.01;
          }
        }
      }
    }
  }
}
