@import "../../responsive.scss";

.container {
  display: flex;
  height: 100%;

  .textConteiner {
    background-color: teal;
    flex: 3;

    .wrapper {
      background-color: cornflowerblue;
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include sm {
        padding: 0;
      }

      .title {
        font-size: 50px;
        line-height: 60px;

        @include lg {
          font-size: 40px;
          line-height: 50px;
        }
      }

      .desc {
        line-height: 20px;
      }

      .countContainer {
        display: flex;
        justify-content: space-between;

        .count {
          display: flex;
          flex-direction: column;

          @include xs {
            display: none;
          }

          .countNum {
            font-size: 40px;
            font-weight: 550;
            background-color: crimson;
            max-height: 55px;

            @include lg {
              font-size: 32px;
            }
          }

          h2 {
            font-size: 18px;
            font-weight: 300;
            background-color: aquamarine;

            @include lg {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .imgContainer {
    background-color: #fde29f;
    flex: 2;
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }
}
