@import "./responsive.scss";

.layout {
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;

  @include xl {
    background-color: rgb(251, 190, 202);
    max-width: 1220px;
  }

  @include lg {
    background-color: rgb(187, 250, 187);
    max-width: 950px;
  }

  @include md {
    background-color: rgb(250, 233, 192);
    max-width: 768px;
  }

  @include sm {
    background-color: rgb(191, 237, 252);
    max-width: 640px;
  }

  @include xs {
    background-color: rgb(233, 190, 251);
  }
}
