@import "./responsive.scss";

.layout {
  //   background-color: crimson;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  @include lg {
    background-color: rgb(252, 215, 202);
    max-width: 1024px;
  }

  @include md {
    background-color: rgb(189, 209, 248);
    max-width: 768px;
  }

  @include sm {
    background-color: rgb(249, 182, 249);
    max-width: 640px;
  }
}
